server:
  port: 8081
spring:
  application:
    name: localHire-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/localHire
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    # database-platform: org.hibernate.dialect.PostgreSQLDialect  # Tells Hibernate which SQL dialect to use
    properties:
      hibernate:
        format_sql: true

